.title
    text-align: center
    margin-top: 20px
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.table
    max-width: 800px
    margin: 0 auto
    margin-top: 40px
    &In
        width: 100%
        margin-top: 10px
        background: #999

    td, tr, th
        text-align: center
        width: 15%
        padding: 0.5rem
        font-size: 18px
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.select
    text-align: center
    margin-bottom: 30px
